</main>
        <footer>
            <p>&copy; <%= new Date().getFullYear() %> Meu Blog. Todos os direitos reservados.</p>
        </footer>
    </div> </body>
 <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Z8XCSNJZE4');
    </script>

</html>